body {
  font-family: 'Nunito', sans-serif;
}

.header-forgot {
  background-image: url(./images/header-forgot.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-forgot .header-content {
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  color: white;
}

.header-forgot .header-content .header-nav {
  margin: 0 89px;
  padding: 74px;
}

.header-forgot .header-content .header-nav i {
  font-size: 30px;
  margin-right: 76px;
}

.header-forgot .header-content .header-nav span {
  font-size: 24px;
}

.header-forgot .header-content h1.heading {
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  line-height: 85px;
}

.header-forgot .header-content form div {
  text-align: center;
}

.header-forgot .header-content form div input {
  margin-top: 83px;
  height: 79px;
  width: 447px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
}

.header-forgot .header-content form div input:focus {
  outline: none;
}

.header-forgot .header-content form div input::placeholder {
  color: white;
}

.header-forgot .header-content form div button.button-send {
  margin-top: 31px;
  height: 79px;
  width: 447px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: #FFCD61;
  color: black;
  font-weight: 900;
  border: none;
}

.header-forgot .header-content p.text {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-top: 54px;
}

footer.footer .row.text {
  margin-bottom: 78px;
}

footer.footer {
  margin-top: 69px;
}

footer.footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

footer.footer .description {
  margin-top: 26px;
  margin-bottom: 53px;
  width: 300px;
}

footer.footer .link-social {
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}

footer.footer .link-social i {
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
}

@media (max-width: 500px) {
  .header-forgot .header-content {
    padding: 0 10px;
  }

  .header-forgot .header-content form div input {
    width: 100%;
  }

  .header-forgot .header-content form div button.button-send {
    width: 100%;
  }
}

aside.login .text1 {
  width: 720px;
  height: 1463px;
  background-image: url(./images/header-login.png);
  background-repeat: no-repeat;
}

aside.login .text2 {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-weight: bold;
  line-height: 63.98px;
}

aside.login .text2 h1.text-login {
  width: 128px;
  height: 64px;
  margin-top: 95px;
  margin-left: 100px;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 63.98px;
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-weight: bold;
}

aside.login .text2 form div input {
  background-color: rgba(218, 218, 218, 0.28);
  border: 0.5px solid rgba(78, 78, 78, 0.5);
  width: 489px;
  height: 79px;
  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 63.98px;
  border-radius: 10px;
}

aside.login .text2 form div input:focus {
  outline: none;
}

aside.login .text2 form div input::placeholder {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  padding: 23px 389px 23px 41px;
}

aside.login .text2 form div button.button-send {
  margin-top: 57px;
  margin-left: 100px;
  height: 79px;
  width: 490px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: #FFCD61;
  color: black;
  font-weight: 900;
  border: none;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
}

aside.login .text2 form p.text-forgot {
  font-size: 18px;
  line-height: 28px;
  margin-left: 100px;
  text-decoration-line: underline;
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-weight: bold;
  line-height: 63.98px;
}

aside.login .text2 h1.text-again {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 24px;
  color: rgba(57, 57, 57, 0.5);
  font-weight: bold;
  height: 33px;
}

aside.login .text2 form div button.button-mail {
  margin-top: 57px;
  margin-left: 100px;
  height: 79px;
  width: 490px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(78, 78, 78, 0.4);
  color: black;
  font-weight: 900;
  border: none;
  font-family: 'Nunito', sans-serif;
}

aside.login .text2 form div button.button-register {
  margin-top: 57px;
  margin-left: 100px;
  height: 79px;
  width: 490px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: #393939;
  color: #FFCD61;
  font-weight: 900;
  border: none;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

aside.login .text2 form div button.button-register {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-top: 54px;
}

aside.login .text2 .text-desc {
  background-color: #F9F9FB;
  background-position: absolute;
  width: 736px;
  height: 470px;
}

aside.login .text2 .text-desc img {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin-top: 100px;
  margin-left: 57px;
  line-height: 28px;
}

aside.login .text2 .text-desc .description {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  margin-top: 39px;
  line-height: 28px;
  color: #848484;
  margin-left: 57px;
}

aside.login .text2 .desc {
  font-size: 17px;
  padding-top: 53.64px;
  font-weight: 300;
  color: #848484;
  margin-left: 57px;
}

aside.login .text2 .link-social {
  border-top: 1px solid #C4C4C4;
  width: 461px;
  padding: 31px;
  text-align: center;
  height: 19px;
}

nav.navbar .container {
  padding-top: 60px;
}

nav.container .link {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav.container .link li {
  display: inline-block;
  margin: 0 17.5px;
}

nav.container .link li a {
  color: #B8BECD;
  text-decoration: none;
}

nav.container .link li a.active {
  color: #000;
}

button {
  min-width: 132px;
  min-height: 44px;
  border-radius: 8px;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #FFCD61;
  /* border-width: 1px;
  border-color: #FFCD61;
  border-style: solid; */
}

.button-filled {
  background-color: #FFCD61;
  border: unset;
}


@media (max-width: 500px) {
  .header-forgot .header-content {
    padding: 0 10px;
  }

  .header-forgot .header-content form div input {
    width: 100%;
  }

  .header-forgot .header-content form div button.button-send {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .toggled-action {
    text-align: center;
  }
}

@media (max-width: 1439px) {
  .navigation {
    height: 80px;
  }

  .logo-brand {
    justify-content: center;
  }

  .auth-action {
    text-align: center;
  }
}

.header-home {
  background-image: url(./images/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;

}

.header-home .content-home {
  background-color: rgba(0, 0, 0, 0.3);
  height: 763px;
  width: 1518px;
  color: white;
}

.header-home .content-home .header-pic h1.text-1 {
  position: absolute;
  color: white;
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-weight: 900;
  line-height: 80px;
  padding: 69px 963px 537px 121px;
}

.header-home .content-home .header-pic h1.text-2 {
  position: absolute;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  font-weight: 700;
  line-height: 30px;
  padding: 300px 1167px 433px 121px;
}

.header-home .content-home .header-pic span i {
  position: absolute;
  border-radius: 4px;
  font-size: 30px;
  margin-right: 76px;
  color: black;
  border: 10px;
}

.header-home .content-home form button.location {
  position: absolute;
  width: 220px;
  height: 52px;
  background: rgba(255, 255, 255, 0.5);
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 121px;
  margin-top: 400px;
}

.header-home .content-home form button.type {
  position: absolute;
  width: 220px;
  height: 52px;
  background: rgba(255, 255, 255, 0.5);
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 373px;
  margin-top: 400px;
}

.header-home .content-home form button.payment {
  position: absolute;
  width: 220px;
  height: 52px;
  background: rgba(255, 255, 255, 0.5);
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 121px;
  margin-top: 487px;
}

.header-home .content-home form button.date {
  position: absolute;
  width: 220px;
  height: 52px;
  background: rgba(255, 255, 255, 0.5);
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 373px;
  margin-top: 487px;
}

.header-home .content-home form button.explore {
  position: absolute;
  width: 180px;
  height: 52.01px;
  border: 0.8px solid #AFB0B9;
  background: #FFCD61;
  border-radius: 8px;
  margin-left: 121px;
  margin-top: 591px;
}

.header-home .content-home form button span i {
  margin-left: 74px;
}